.dice {
  background:#00e676;
  border:none;
  padding:15px 25px;
  font-size:18px;
  border-radius:10px;
  margin-bottom:10px;
  cursor:pointer;
}

.token {
  width:30px;
  height:30px;
  border-radius:50%;
  position:absolute;
}

.redToken {
  background:red;
}
