body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen {
  background: #222;
  padding: 10px;
}

.board {
  display: grid;
  grid-template-columns: 200px 150px 200px;
  grid-template-rows: 200px 150px 200px;
  border: 10px solid white;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue { background:#2196f3; }
.red { background:#f44336; }
.green { background:#4caf50; }
.yellow { background:#fbc02d; }

.path {
  background: #ddd;
}

.center {
  background: conic-gradient(red, yellow, green, blue);
}
